extends ../../layout

block content
  .home-wrapper
    .columns
      .column
        .card.color-primary
          .card-content
            .media
              .media-content
                .txt-cntr.margin-btn
                  h2.subtitle.title-card.color-text-primary Pembayaran
            .content
              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column
                                  p.subtitle.title-card Total Keseluruhan
                                .column.txt-rght
                                  p.subtitle.title-card Rp 3.120.000,-
                              hr
                              .columns
                                .column
                                  p Traveloka
                                    span.tag.is-success(style=`margin-left:20px`) Sudah Bayar
                                .column.txt-rght
                                  p.subtitle.title-card Rp 2.100.000,-

                              .columns
                                .column
                                  p Tiket.com
                                    span.tag.is-light(style=`margin-left:20px`) Belum Bayar
                                .column.txt-rght
                                  p.subtitle.title-card Rp 300.000,-

                              .columns
                                .column
                                  p Yourney
                                    span.tag.is-light(style=`margin-left:20px`) Belum Bayar
                                .column.txt-rght
                                  p.subtitle.title-card Rp 400.000,-
                              hr
                              .columns
                                .column
                                  p Total
                                .column.txt-rght
                                  p.subtitle.title-card Rp 2.800.000,-
                              hr
                              p.subtitle Bayar ditempat
                              hr
                              .columns
                                .column
                                  p Gojek
                                .column.txt-rght
                                  p.subtitle.title-card estimasi Rp 320.000,-
                              hr
                              .columns
                                .column
                                  p Total
                                .column.txt-rght
                                  p.subtitle.title-card Rp 320.000,-

              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column
                                  p.subtitle.title-card Traveloka
                                .column.txt-rght
                                  p.subtitle.title-card Rp 2.100.000,-
                              hr
                              .columns
                                .column
                                  p Tiket Pesawat BDJ-BDO
                                .column.txt-rght
                                  p.subtitle.title-card Rp 900.000,-

                              .columns
                                .column
                                  p Tiket Pesawat BDO-BDJ
                                .column.txt-rght
                                  p.subtitle.title-card Rp 900.000,-

                              .columns
                                .column
                                  p Hotel Mercure (2 Hari 1 Malam)
                                .column.txt-rght
                                  p.subtitle.title-card Rp 300.000,-
                              hr
                              .columns
                                .column.txt-rght
                                  a.button.is-success.is-rounded(disabled) Sudah Bayar

              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column
                                  p.subtitle.title-card Tiket.com
                                .column.txt-rght
                                  p.subtitle.title-card Rp 300.000,-
                              hr
                              .columns
                                .column
                                  p Sari Ater Hotel Lembang (1 Hari 1 Malam)
                                .column.txt-rght
                                  p.subtitle.title-card Rp 300.000,-

                              hr
                              .columns
                                .column.txt-rght
                                  a.button.is-light.is-rounded(href=`/pembayaran/3`) Bayar

              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column
                                  p.subtitle.title-card Yourney
                                .column.txt-rght
                                  p.subtitle.title-card Rp 400.000,-
                              hr
                              .columns
                                .column
                                  p Gunung Moko
                                .column.txt-rght
                                  p.subtitle.title-card Rp 20.000,-

                              .columns
                                .column
                                  p Gedung Sate x2
                                .column.txt-rght
                                  p.subtitle.title-card Rp 0,-

                              .columns
                                .column
                                  p Danau Situ Patenggang
                                .column.txt-rght
                                  p.subtitle.title-card Rp 10.000,-

                              .columns
                                .column
                                  p Lodge Maribaya
                                .column.txt-rght
                                  p.subtitle.title-card Rp 40.000,-

                              .columns
                                .column
                                  p Lebih banyak...

                              hr
                              .columns
                                .column.txt-rght
                                  a.button.is-light.is-rounded Bayar
