extends ../../layout

block content
  .home-wrapper
    .columns
      .column
        .card.color-primary
          .card-content
            .media
              .media-content
                .txt-cntr.margin-btn
                  h2.subtitle.title-card.color-text-primary Pembayaran
            .content
              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column
                                  p.subtitle.title-card Total Keseluruhan
                                .column.txt-rght
                                  p.subtitle.title-card Rp 2.520.000,-
                              hr
                              .columns
                                .column
                                  p Traveloka
                                    span.tag.is-success(style=`margin-left:20px`) Sudah Bayar
                                .column.txt-rght
                                  p.subtitle.title-card Rp 600.000,-

                              .columns
                                .column
                                  p Tiket.com
                                    span.tag.is-success(style=`margin-left:20px`) Belum Bayar
                                .column.txt-rght
                                  p.subtitle.title-card Rp 300.000,-

                              .columns
                                .column
                                  p Yourney
                                    span.tag.is-success(style=`margin-left:20px`) Belum Bayar
                                .column.txt-rght
                                  p.subtitle.title-card Rp 600.000,-
                              hr
                              .columns
                                .column
                                  p Total
                                .column.txt-rght
                                  p.subtitle.title-card Rp 1.500.000,-
                              hr
                              p.subtitle Bayar ditempat
                              hr
                              .columns
                                .column
                                  p Gojek
                                .column.txt-rght
                                  p.subtitle.title-card estimasi Rp 1.020.000,-
                              hr
                              .columns
                                .column
                                  p Total
                                .column.txt-rght
                                  p.subtitle.title-card Rp 1.020.000,-

              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column
                                  p.subtitle.title-card Traveloka
                                .column.txt-rght
                                  p.subtitle.title-card Rp 600.000,-
                              hr
                              .columns
                                .column
                                  p Kereta GMR-BD
                                .column.txt-rght
                                  p.subtitle.title-card Rp 150.000,-

                              .columns
                                .column
                                  p Kereta BD-GMR
                                .column.txt-rght
                                  p.subtitle.title-card Rp 150.000,-

                              .columns
                                .column
                                  p Hotel Mercure (2 Hari 1 Malam)
                                .column.txt-rght
                                  p.subtitle.title-card Rp 300.000,-
                              hr
                              .columns
                                .column.txt-rght
                                  a.button.is-success.is-rounded(disabled) Sudah Bayar

              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column
                                  p.subtitle.title-card Tiket.com
                                .column.txt-rght
                                  p.subtitle.title-card Rp 300.000,-
                              hr
                              .columns
                                .column
                                  p Sari Ater Hotel Lembang (1 Hari 1 Malam)
                                .column.txt-rght
                                  p.subtitle.title-card Rp 300.000,-

                              hr
                              .columns
                                .column.txt-rght
                                  a.button.is-success.is-rounded(disabled) Sudah Bayar

              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column
                                  p.subtitle.title-card Yourney
                                .column.txt-rght
                                  p.subtitle.title-card Rp 600.000,-
                              hr
                              .columns
                                .column
                                  p Kawah Putih
                                .column.txt-rght
                                  p.subtitle.title-card Rp 0,-

                              .columns
                                .column
                                  p Gunung Padang Ciwidey
                                .column.txt-rght
                                  p.subtitle.title-card Rp 0,-

                              .columns
                                .column
                                  p Gunung Moko
                                .column.txt-rght
                                  p.subtitle.title-card Rp 20.000,-

                              .columns
                                .column
                                  p Gedung Sate
                                .column.txt-rght
                                  p.subtitle.title-card Rp 0,-

                              .columns
                                .column
                                  p Danau Situ Patenggang
                                .column.txt-rght
                                  p.subtitle.title-card Rp 10.000,-

                              .columns
                                .column
                                  p Lodge Maribaya
                                .column.txt-rght
                                  p.subtitle.title-card Rp 40.000,-

                              .columns
                                .column
                                  p Lebih banyak...

                              hr
                              .columns
                                .column.txt-rght
                                  a.button.is-success.is-rounded(disabled) Sudah Bayar

  .modal.is-active(id=`modalTerimaKasih`)
    .modal-background
    .modal-card
      header.modal-card-head
        p.modal-card-title Pembayaran telah selesai semua
      section.modal-card-body
        .columns.is-vcentered
          column.is-one-quarter
            img.image.is-128x128(src=`/assets/img/airplane.png`)
          column(style=`margin-left:20px`)
            p.title-card Terimakasih telah menggunakan Yourney. Enjoy your Journey


      footer.modal-card-foot
        button.button(id=`closeModal`) Back

block scripts
  script().
    $("#closeModal").click(function() {
      $("#modalTerimaKasih").removeClass("is-active")
    })
