@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #46454E;
}
.container-outer {
  background: url('../img/background.png');
  background-size: cover;
  min-width: 100vw;
  padding-bottom: 100px;
  min-height: 100vh;
}
.nav {
  padding: 40px 100px;
  align-items: stretch;
  display: flex;
}
.navbar-logo {
  height: 50px;
}
.nav-link {
  font-family: 'Nunito', sans-serif;
  color: #9885BA;
  font-weight: 600;
  font-size: 18px;
}
.navbar-account-img {
  height: 20px;
  margin-right: 10px;
}
.btn-account {
  background: #9885BA;
  border-radius: 100px;
  color: white;
  letter-spacing: 2;
  padding: 10px 20px;
  height: 50px;
  font-weight: 500;
  font-size: 18px;
}
.navbar-start {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.navbar-item {
  margin-left: 40px;
}
.home-wrapper {
  margin: 30px 15vw 0 15vw;
  min-height: 75vh;
}
.hero-title {
  font-weight: 600;
  color: #4E3D94;
  font-size: 50px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1.2;
}
.hero-title-bold {
  font-weight: 900;
}
.hero-subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 50px;
}
.hero-items, .play-items {
  display: flex;
  justify-content: space-between;
}
.header-search-bar{
  display: flex;
  flex-direction: column;
}
.city-header{
  margin:5% 0 5% 0;
  color: Black;
  font-weight: bolder;
  background-image: url('http://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Tea_plantation_in_Ciwidey%2C_Bandung_2014-08-21.jpg/500px-Tea_plantation_in_Ciwidey%2C_Bandung_2014-08-21.jpg');
  opacity: 50%;
  height: 183px;
  width: 100%;
}
.search-in-city{
  background-color: #9187FF;
  color: white;
  margin: -10% 0 5% 0;
  opacity: 100%;
  height: 183px;
  width: 80%;
  align-self: center;
  padding: 10% 10% 10% 10%;
}
.two-search-bars{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.budget-estimate, .trip-duration{
  height: 140px;
  width: auto;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
}
.budget-queries, .duration-queries{
  display: flex;
  flex-direction: row;

}
.create-trip-plan{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 0 0 5% 0;
}
.create-trip-button{
  margin: 0 0 0 2%;
  background-color: #9187FF;
  color: white;
}

.margin-btn {
  margin-bottom: 20px;
}

.ctn-home h1 {
  font-weight: 900;
}

.city-background {
  background-position: center;
}

.ctn-header {
  padding: 40px 100px;
}

.ctn-content {
  margin: 20px 100px;
}

.hero-estimasi {
  padding: 1rem 1.5rem;
}

.button.is-static1 {
  background-color: transparent;
  pointer-events: none;
  border-color: transparent;
}

.brdr-rds20 {
  border-radius: 20px;
}

.txt-cntr {
  text-align: center;
}

.txt-lft {
  text-align: left;
}

.card {
  border-radius: 20px
}

.title-card {
  font-weight: 900;
}

.rating-orange {
  color : orange;
}

.color-primary {
  background-color: #9187FF;
}

.color-text-primary {
  color : white;
}

.image img {
  border-radius: 20px;
  height: 194px;
}

.btn-detail {
  border-radius: 20px;
}

.hero-item, .play-item {
  background: white;
  width: 20vw;
  min-height: 450px;
  border: 0.5px solid rgb(218, 218, 218);
  border-radius: 20px;
  box-shadow: 0px 0px 3px 3px rgb(226, 226, 226);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.thread-item {
  width: 100%;
  border: 0.5px solid rgb(218, 218, 218);
  border-radius: 20px;
  box-shadow: 0px 0px 3px 3px rgb(226, 226, 226);
  display: flex;
  padding: 30px;
  text-align: left;
  margin-bottom: 30px;
}
.thread-item-img {
  width: 80px;
  height: 80px;
  margin-right: 30px;
}
.thread-item-title {
  font-size: 24px;
  color: #4E3D94;
  font-weight: 700;
  margin-bottom: 10px;
}
.camera-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.camera-left {
  width: 35vw;
}
.camera-left-item {
  height: 300px;
  border-radius: 20px
}
.camera-left-word {
  background: #9885BA;
  color: white;
  font-size: 50px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.camera-left-question {
  background: #9885BA;
  color: white;
  font-size: 100px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.camera-left-letter {
  background: white;
  border: 3px solid rgb(124, 124, 124);
  color: rgb(124, 124, 124);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 100px;
}
.camera-left-hint {
  border: 3px solid rgb(124, 124, 124);
}
.camera-right {
  margin-top: 30px;
  margin-left: 40px;
  width: 100%;
  height: 630px;
  margin-bottom: 30px;
  background: rgb(124, 124, 124);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 100px;
  border-radius: 20px;
}
.capture-button, .capture-button:hover {
  background: #4E3D94;
  color: white;
  font-size: 24px;
  font-weight: 800;
  border-radius: 10px;
}
.thread-item-subtitle {
  margin-bottom: 20px;
}
.capture-group {
  float: right;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.camera-point {
  margin-right: 50px;
  font-size: 24px;
  color: rgb(248, 166, 12);
}
.camera-point-accepted {
  color: rgb(87, 187, 77);
}
.camera-point-rejected {
  color: rgb(214, 75, 75);
}
.camera-wrapper-outer {
  margin: 30px 15vw 0 15vw;
  min-height: 75vh;
  text-align: center;
  border: 0.5px solid rgb(218, 218, 218);
  border-radius: 20px;
  box-shadow: 0px 0px 3px 3px rgb(226, 226, 226);
  background: white;
  padding: 50px 75px 110px 75px;
}
.camera-point span {
  font-weight: 800;
}
.like-button, .reply-button, .share-button {
  color: rgb(253, 54, 64);
  border: 1px solid rgb(253, 54, 64);
  margin-left: 20px;
}
.reply-button {
 color: rgb(19, 190, 76);
 border-color: rgb(19, 190, 76);
}
.share-button {
  color: #4E3D94;
  border-color: #4E3D94;
}
.button-group {
  float: right;
}
.play-item {
  width: 17.5vw;
  cursor: pointer;
  width: 17.5vw;
}
.hero-item-img, .play-item-img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.hero-item-title, .play-item-title {
  color: #4E3D94;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
}
.visited-places{
  justify-self: flex-start;
}
.duration-and-budget{
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}
.hero-item-subtitle, .play-item-subtitle {
  color: #9885BA;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.hero-item-button {
  color: white;
  background: #4E3D94;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 25px;
  min-height: 50px;
  font-family: inherit;
}
.hero-item-button:hover {
  color: white;
}
.content-wrapper {
  margin: 30px 15vw 0 15vw;
  min-height: 75vh;
  text-align: center;
  border: 0.5px solid rgb(218, 218, 218);
  border-radius: 20px;
  box-shadow: 0px 0px 3px 3px rgb(226, 226, 226);
  background: white;
  padding: 50px 75px;
}
.leaderboard-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.leaderboard-desc {
  text-align: left;
}
.leaderboard-img {
  margin-right: 50px;
}
.leaderboard-title {
  font-weight: 800;
  color: #4E3D94;
  font-size: 42px;
}
.leaderboard-subtitle {
  font-weight: 600;
  color: #9885BA;
  font-size: 24px;
}
.leaderboard-items {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.leaderboard-item {
  font-size: 20px;
  font-weight: 800;
  color: #46454E;
}
.leaderboard-accuracy {
  font-weight: 600;
  color: #9885BA;
}
.leaderboard-accuracy {
  font-weight: 600;
  color: #4E3D94;
}
.leaderboard-point {
  font-weight: 600;
  color: rgb(248, 166, 12)
}
.back-button {
  width: 100%;
  text-align: left;
}
.back-text, .back-text:hover {
  color: #9885BA;
  font-size: 24px;
  font-weight: 800;
}
.play-title, .thread-title {
  font-size: 36px;
  font-weight: 800;
  color: #4E3D94;
  margin-bottom: 10px;
}
.play-subtitle, .thread-subtitle {
  font-size: 18px;
  color: #9885BA;
  font-weight: 600;
  margin-bottom: 40px;
}
.learn-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.learn-col {
  border: 3px solid #4E3D94;
  height: 80px;
  width: 150px;
  margin: 20px 20px;
  color: #4E3D94;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
}
