extends ../layout

block content
  .ctn-header
    section.hero.brdr-rds20.city-background(style=`background-image:url(/assets/img/tempat-wisata/raja-ampat-opacity.jpg)`)
      .hero-body.txt-cntr
        .container
          h1.title Travel Blog
          button.button.color-text-primary.color-primary.is-rounded.margin-btn Buat Blog Travelmu Sendiri

  .home-wrapper
    .columns
      .column
        .card.color-primary
          .card-content
            .media
              .media-content
                .margin-btn
                  h2.subtitle.title-card.color-text-primary Dapatkan Inspirasi Perjalananmu
            .content

              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column.is-two-fifths
                                  figure.image.is-2by1
                                    img(src='/assets/img/tempat-wisata/sanghyang-heulut.jpg')
                                .column
                                  p.subtitle.title-card Bandung dari sisi yang berbeda
                                  p Air terjun Panamoro di Bandung merupakan sebuah keindahan alam yang tidak bisa dilewatkan.
                                    | Danau jernih nan biru menyuguhkan ....
                                  .columns
                                    .column.is-half
                                      p
                                        i.fas.fa-thumbs-up
                                        span.title-card(style=`margin-left:10px`) 193 like
                                        i.fas.fa-eye(style=`margin-left:10px`)
                                        span.title-card(style=`margin-left:10px`) 501x
                                    .column.txt-rght
                                      a(href='#') Baca Lebih Lanjut
                              hr
                              .columns
                                .column.is-one-quarter
                                  p Trip plan terkait :
                                .column
                                  span.tag.is-info Bandung yang berbeda
                              .columns
                                .column.is-one-quarter
                                  p Objek Wisata terkait :
                                .column
                                  span.tag.is-info Sanghyang Heulut
                                  span.tag.is-info(style=`margin-left:10px`) Gunung Moko

              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column.is-two-fifths
                                  figure.image.is-2by1
                                    img(src='/assets/img/tempat-wisata/situ-bagendit.jpg')
                                .column
                                  p.subtitle.title-card Bandung tempat yang sangat indah
                                  p Siapa yang tak kenal Bandung? Semua orang tahu akan keindahan dan keasriannya sebagai
                                    | sebuah kota. Sekarang, rasakan Bandung dari sisi yang jauh lebih mendalam ...
                                  .columns
                                    .column.is-is-half
                                      p
                                        i.fas.fa-thumbs-up
                                        span.title-card(style=`margin-left:10px`) 123 like
                                        i.fas.fa-eye(style=`margin-left:10px`)
                                        span.title-card(style=`margin-left:10px`) 412x
                                    .column.txt-rght
                                      a(href='#') Baca Lebih Lanjut

                              hr
                              .columns
                                .column.is-one-quarter
                                  p Trip plan terkait :
                                .column
                                  span.tag.is-info Surganya Bandung
                              .columns
                                .column.is-one-quarter
                                  p Objek Wisata terkait :
                                .column
                                  span.tag.is-info Goa Pawon
                                  span.tag.is-info(style=`margin-left:10px`) Floating Market

              .card.is-light
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column.is-two-fifths
                                  figure.image.is-2by1
                                    img(src='/assets/img/tempat-wisata/maribaya.jpg')
                                .column
                                  p.subtitle.title-card Lepaskan semua pikiran Anda di Bandung
                                  p Bandung tak hanya terkenal dengan wisata alam dan keasrian kotanya, tapi juga dengan
                                    | sebuah suasana yang bisa membuat lepas segala penat dan tegang dalam hidup.....
                                  .columns
                                    .column.is-is-half
                                      p
                                        i.fas.fa-thumbs-up
                                        span.title-card(style=`margin-left:10px`) 83 like
                                        i.fas.fa-eye(style=`margin-left:10px`)
                                        span.title-card(style=`margin-left:10px`) 291x
                                    .column.txt-rght
                                      a(href='#') Baca Lebih Lanjut

                              hr
                              .columns
                                .column.is-one-quarter
                                  p Trip plan terkait :
                                .column
                                  span.tag.is-info Wisata Lembang
                              .columns
                                .column.is-one-quarter
                                  p Objek Wisata terkait :
                                .column
                                  span.tag.is-info Curug Maribaya
                                  span.tag.is-info(style=`margin-left:10px`) Lodge Maribaya
