extends ../layout

block content
  .ctn-header
    section.hero.brdr-rds20.city-background(style=`background-image:url(/assets/img/tempat-wisata/gedung-sate-bandung-opacity.jpg)`)
      .hero-body
        .container.ctn-home.txt-cntr
          h1.title Bandung
          a.button.color-text-primary.color-primary.is-rounded.margin-btn(href=`/`) Cari destinasi lain
          section.hero.color-primary.ctn-content.brdr-rds20
            .hero-body
              .container.txt-lft
                h2.subtitle.color-text-primary Temukan Trip Plan Favoritmu
                .columns
                  .column.is-two-thirds
                    section.hero.is-light.brdr-rds20
                      .hero-body.hero-estimasi
                        .container
                          h2.subtitle Estimasi Budget
                          .field.has-addons
                            p.control
                              a.button.is-static Rp
                            p.control.is-expanded
                              input.input(value='500.000')
                            p.control
                              a.button.is-static1.is-white Hingga
                            p.control
                              a.button.is-static Rp
                            p.control.is-expanded
                              input.input(value='10.000.000')
                  .column
                    section.hero.is-light.brdr-rds20
                      .hero-body.hero-estimasi
                        .container
                          h2.subtitle Durasi Perjalanan
                          .field.has-addons
                            p.control.is-expanded
                              input.input(value='1')
                            p.control
                              a.button.is-static1.is-white -
                            p.control.is-expanded
                              input.input(value='3')
                            p.control
                              a.button.is-static1.is-white hari

  .home-wrapper
    .txt-cntr.margin-btn
      p.title Tidak menemukan trip plan yang cocok?
        button.button.color-text-primary.color-primary.is-rounded(style=`margin-left:20px`) Buat Trip Plan
    .columns
      .column
        .card
          .card-image
            figure.image
              img(src='/assets/img/tempat-wisata/sanghyang-heulut1.jpg')
          .card-content
            .media
              .media-content
                p.title.is-5.title-card Bandung yang berbeda
                p.subtitle.is-6 3 Hari ~ Rp 5.000.000,-
                p
                  i.fas.fa-star.rating-orange
                  i.fas.fa-star.rating-orange
                  i.fas.fa-star.rating-orange
                  i.fas.fa-star.rating-orange
                  i.fas.fa-star.rating-orange
                  |  5.0 / 5.0
            .content
              span.title-card Tempat yang dikunjungi
              br
              br
              | Gedung Sate, Sanghyang Heulut, Alun Alun Cicendo, Gunung Moko
            a.btn-detail.color-primary.color-text-primary.is-fullwidth.button(href='/detailtrip') Selengkapnya

      .column
        .card
          .card-image
            figure.image
              img(src='/assets/img/tempat-wisata/goa-pawon.jpg')
          .card-content
            .media
              .media-content
                p.title.is-5.title-card Surganya Bandung
                p.subtitle.is-6 3 Hari ~ Rp 2.000.000,-
                p
                  i.fas.fa-star.rating-orange
                  i.fas.fa-star.rating-orange
                  i.fas.fa-star.rating-orange
                  i.fas.fa-star.rating-orange
                  i.fas.fa-star.rating-orange
                  |  4.8 / 5.0
            .content
              span.title-card Tempat yang dikunjungi
              br
              br
              | Goa Pawon, Lodge Maribaya, Floating Market
            a.btn-detail.color-primary.color-text-primary.is-fullwidth.button(href='/detailtrip') Selengkapnya

      .column
        .card
          .card-image
            figure.image
              img(src='/assets/img/tempat-wisata/maribaya.jpg')
          .card-content
            .media
              .media-content
                p.title.is-5.title-card Wisata Lembang
                p.subtitle.is-6 1 Hari ~ Rp 500.000,-
                p
                  i.fas.fa-star.rating-orange
                  i.fas.fa-star.rating-orange
                  i.fas.fa-star.rating-orange
                  i.fas.fa-star.rating-orange
                  i.fas.fa-star
                  | 4.0 / 5.0
            .content
              span.title-card Tempat yang dikunjungi
              br
              br
              | Curug Maribaya, Lodge Maribaya
            a.button.btn-detail.color-primary.color-text-primary.is-fullwidth.button(href='/detailtrip') Selengkapnya
