extends ../layout

block content
  .ctn-header
    section.hero.brdr-rds20.city-background(style=`background-image:url(/assets/img/tempat-wisata/sanghyang-heulut1-opacity.jpg)`)
      .hero-body
        .container
          h1.title.title-card Bandung yang berbeda
          h2.subtitle 3 Hari - Rp 5.000.000,-
          .columns
            .column.is-four-fifths
              p
                i.fas.fa-star.rating-orange
                i.fas.fa-star.rating-orange
                i.fas.fa-star.rating-orange
                i.fas.fa-star.rating-orange
                i.fas.fa-star.rating-orange
                |  5.0 / 5.0
            .column.txt-rght
              button.button.color-primary.color-text-primary.is-rounded Gunakan

  .home-wrapper
    .columns
      .column
        .card.color-primary
          .card-content
            .media
              .media-content
                .txt-cntr.margin-btn
                  h2.subtitle.title-card.color-text-primary Timeline
                .columns(style=`margin:0 10`)
                  .column
                    button.btn-detail.is-light.is-fullwidth.button Day 1
                  .column
                    button.btn-detail.is-light.is-fullwidth.button Day 2
                  .column
                    button.btn-detail.is-light.is-fullwidth.button Day 3
            .content
              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column
                                  figure.image.is-2by1
                                    img(src='/assets/img/tempat-wisata/goa-pawon.jpg')
                                .column
                                  p.subtitle.title-card Keberangkatan
                                  p ke Bandara Husein Sastranegara
                                  p
                                    i.fas.fa-circle
                                    span(style=`margin-left:20px`) Tiba pukul 13.00 WIB
                                .column.txt-rght
                                  p mulai dari
                                  p.subtitle.title-card Rp 900.000,-
                                  .field.is-grouped(style=`justify-content: flex-end`)
                                    p.control
                                      button.btn-detail.is-light.button Cari Alternatif
                                    p.control
                                      button.btn-detail.is-light.button Pesan

              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column.is-three-quarters
                                  p.subtitle.title-card GO-CAR (4.2 km)
                                  p
                                    i.fas.fa-circle
                                    span(style=`margin-left:20px`) Bandara Husein Sastranegara to Hotel Mercure
                                .column.txt-rght
                                  p estimasi biaya
                                  p.subtitle.title-card Rp 24.000,-
                                  .field.is-grouped(style=`justify-content: flex-end`)
                                    p.control
                                      button.btn-detail.is-light.button Cari Alternatif

              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column
                                  figure.image.is-2by1
                                    img(src='/assets/img/tempat-wisata/goa-pawon.jpg')
                                .column
                                  p.subtitle.title-card Hotel Mercure
                                  p Jalan Ir. H. Djuanda No. 176 Dago Kec. Coblong
                                  p
                                    i.fas.fa-circle
                                    span(style=`margin-left:20px`) Checkin pukul 13.00 WIB
                                .column.txt-rght
                                  p mulai dari
                                  p.subtitle.title-card Rp 150.000,-
                                  .field.is-grouped(style=`justify-content: flex-end`)
                                    p.control
                                      button.btn-detail.is-light.button Cari Alternatif
                                    p.control
                                      button.btn-detail.is-light.button Pesan

              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column.is-three-quarters
                                  p.subtitle.title-card GO-RIDE (2.1 km)
                                  p
                                    i.fas.fa-circle
                                    span(style=`margin-left:20px`) Hotel Mercure to Gedung Sate
                                .column.txt-rght
                                  p estimasi biaya
                                  p.subtitle.title-card Rp 9.000,-
                                  .field.is-grouped(style=`justify-content: flex-end`)
                                    p.control
                                      button.btn-detail.is-light.button Cari Alternatif

              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column
                                  figure.image.is-2by1
                                    img(src='/assets/img/tempat-wisata/goa-pawon.jpg')
                                .column
                                  p.subtitle.title-card Gedung Sate
                                  p Jalan Diponegoro No.1 Bandung
                                  p
                                    i.fas.fa-circle
                                    span(style=`margin-left:20px`) 15.00 - 17.00 WIB
                                .column.txt-rght
                                  p tiket masuk
                                  p.subtitle.title-card Gratis
                                  .field.is-grouped(style=`justify-content: flex-end`)
                                    p.control
                                      button.btn-detail.is-light.button Ganti
                                    p.control
                                      button.btn-detail.is-light.button Hapus

              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column.is-three-quarters
                                  p.subtitle.title-card GO-RIDE (8.2 km)
                                  p
                                    i.fas.fa-circle
                                    span(style=`margin-left:20px`) Gedung Sate to Trans Studio Bandung
                                .column.txt-rght
                                  p estimasi biaya
                                  p.subtitle.title-card Rp 25.000,-
                                  .field.is-grouped(style=`justify-content: flex-end`)
                                    p.control
                                      button.btn-detail.is-light.button Cari Alternatif

              .card.is-light
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column
                                  figure.image.is-2by1
                                    img(src='/assets/img/tempat-wisata/goa-pawon.jpg')
                                .column
                                  p.subtitle.title-card Trans Studio Bandung
                                  p Jalan Padjajaran No.3 Pasir Kaliki Bandung
                                  p
                                    i.fas.fa-circle
                                    span(style=`margin-left:20px`) 17.30 - 20.00 WIB
                                .column.txt-rght
                                  p tiket masuk
                                  p mulai dari 
                                    span.subtitle.title-card 110.000,-
                                  .field.is-grouped(style=`justify-content: flex-end`)
                                    p.control
                                      button.btn-detail.is-light.button Ganti
                                    p.control
                                      button.btn-detail.is-light.button Hapus
