extends ../layout

block content
  .ctn-header
    section.hero.brdr-rds20.city-background
      .hero-body
        .container.ctn-home.txt-cntr
          h1.title #AntiWacana
          h2.subtitle Sudah ga zaman lagi wacana doang.
            br
            | Rencanakan sekarang dan berangkat setelahnya
          .field.has-addons.has-addons-centered
            p.control(style=`width:80%`)
              input.input(placeholder='Cari....')
            p.control
              a.button.is-info Go.

  .home-wrapper
    .columns(style=`margin-bottom:40px`)

      .column
        .columns
          column
            img.image.is-96x96(src='/assets/img/tap.png')
          column
            p.margin-lft.title-card(style=`margin-bottom:10px`) Mudah
            p.margin-lft(style=`font-size:12px`) Buat travel plan kamu sendiri
              br
              | atau sesuaikan dengan travel
              br
              | plan yang sudah ada

      .column
        .columns
          column
            img.image.is-96x96(src='/assets/img/clock.png')
          column
            p.margin-lft.title-card(style=`margin-bottom:10px`) Cepat
            p.margin-lft(style=`font-size:12px`) Pilih travel plan kesukaanmu.
              br
              | Langsung berangkat

      .column
        .columns
          column
            img.image.is-96x96(src='/assets/img/shield.png')
          column
            p.margin-lft.title-card(style=`margin-bottom:10px`) Pasti Aman
            p.margin-lft(style=`font-size:12px`) Gak perlu takut lagi,
              br
              | karena  transaksimu sudah
              br
              | termasuk asuransi perjalananmu!

    .txt-cntr.margin-btn
      p.subtitle.title-card Kota Wisata Populer
      p.title-card Temukan rencana perjalanan terbaikmu disini!

    .columns

      .column
        a.button.city-button.home-background.bandung-link(style=`background-image:url(/assets/img/tempat-wisata/bandung-kotak-opacity.jpg)` href=`/detail-city`) Bandung

      .column
        a.button.city-button.home-background(style=`background-image:url(/assets/img/tempat-wisata/bali-kotak-opacity.jpg)` href=`/detail-city`) Bali

      .column
        a.button.city-button.home-background(style=`background-image:url(/assets/img/tempat-wisata/yogyakarta-kotak-opacity.jpg)` href=`/detail-city`) Yogyakarta

      .column
        a.button.city-button.home-background(style=`background-image:url(/assets/img/tempat-wisata/jakarta-kotak-opacity.jpg)` href=`/detail-city`) Jakarta
