extends ../../layout

block content
  .ctn-header
    section.hero.brdr-rds20.city-background(style=`background-image:url(/assets/img/tempat-wisata/kawah-putih-opacity.jpg)`)
      .hero-body
        .container
          h1.title.title-card Bandung yang Menyenangkan
          h2.subtitle 3 Hari - Rp 2.500.000,-
          .columns
            .column.is-four-fifths
              p
                i.fas.fa-thumbs-up
                span.title-card(style=`margin-left:20px`) 421 like
                i.fas.fa-plane-departure(style=`margin-left:20px`)
                span.title-card(style=`margin-left:20px`) 1762x
            .column.txt-rght
              a.button.color-primary.color-text-primary.is-rounded(style=`margin-right:5px` href=`/detailtrip/edit/6`) Save

  .home-wrapper
    .columns
      .column
        .card.color-primary
          .card-content
            .media
              .media-content
                .txt-cntr.margin-btn
                  h2.subtitle.title-card.color-text-primary Timeline
                .columns(style=`margin:0 10`)
                  .column
                    button.btn-detail.is-primary.is-fullwidth.button Day 1
                  .column
                    button.btn-detail.is-light.is-fullwidth.button Day 2
                  .column
                    button.btn-detail.is-light.is-fullwidth.button Day 3
                  .column.is-one-fifth
                    a.btn-detail.is-light.is-fullwidth.button(href=`/detailtrip/edit/2`) +
            .content
              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column
                                  figure.image.is-2by1
                                    img(src='/assets/img/tempat-wisata/stasiun-bandung.jpg')
                                .column
                                  p.subtitle.title-card Keberangkatan
                                  p ke Stasiun Bandung
                                  p
                                    i.fas.fa-circle
                                    span(style=`margin-left:20px`) Tiba pukul 09.00 WIB
                                .column.txt-rght
                                  p mulai dari
                                  p.subtitle.title-card Rp 150.000,-
                                  .field.is-grouped(style=`justify-content: flex-end`)
                                    p.control
                                      button.btn-detail.is-light.button Cari Alternatif
                                    p.control
                                      button.btn-detail.is-light.button Pesan

              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column.is-three-quarters
                                  p.subtitle.title-card GO-CAR (48,7 km)
                                  p
                                    i.fas.fa-circle
                                    span(style=`margin-left:20px`) Stasiun Bandung to Kawah Putih
                                .column.txt-rght
                                  p estimasi biaya
                                  p.subtitle.title-card Rp 150.000,-
                                  .field.is-grouped(style=`justify-content: flex-end`)
                                    p.control
                                      button.btn-detail.is-light.button Cari Alternatif

              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column
                                  figure.image.is-2by1
                                    img(src='/assets/img/tempat-wisata/kawah-putih.jpg')
                                .column
                                  p.subtitle.title-card Kawah Putih
                                  p Sugihmukti Kecamatan Pasirjambu Bandung
                                  p
                                    i.fas.fa-circle
                                    span(style=`margin-left:20px`) 10.30 - 12.00 WIB
                                .column.txt-rght
                                  p mulai dari
                                  p.subtitle.title-card Rp 0,-
                                  .field.is-grouped(style=`justify-content: flex-end`)
                                    p.control
                                      button.btn-detail.is-light.button Ganti
                                    p.control
                                      button.btn-detail.is-light.button Hapus

              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column.is-three-quarters
                                  p.subtitle.title-card GO-CAR (21.7 km)
                                  p
                                    i.fas.fa-circle
                                    span(style=`margin-left:20px`) Kawah Putih to Gunung Padang Ciwidey
                                .column.txt-rght
                                  p estimasi biaya
                                  p.subtitle.title-card Rp 160.000,-
                                  .field.is-grouped(style=`justify-content: flex-end`)
                                    p.control
                                      button.btn-detail.is-light.button Cari Alternatif

              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column
                                  figure.image.is-2by1
                                    img(src='/assets/img/tempat-wisata/gunung-padang-ciwidey.jpg')
                                .column
                                  p.subtitle.title-card Gunung Padang Ciwidey
                                  p Wangunsari, Sindangkerta, Kabupaten Bandung Barat
                                  p
                                    i.fas.fa-circle
                                    span(style=`margin-left:20px`) 13.30 - 16.00 WIB
                                .column.txt-rght
                                  p tiket masuk
                                  p.subtitle.title-card Rp 0,-
                                  .field.is-grouped(style=`justify-content: flex-end`)
                                    p.control
                                      button.btn-detail.is-light.button Ganti
                                    p.control
                                      button.btn-detail.is-light.button Hapus

              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column.is-three-quarters
                                  p.subtitle.title-card GO-CAR (49.3 km)
                                  p
                                    i.fas.fa-circle
                                    span(style=`margin-left:20px`) Gunung Padang Ciwidey to Hotel Mercure
                                .column.txt-rght
                                  p estimasi biaya
                                  p.subtitle.title-card Rp 250.000,-
                                  .field.is-grouped(style=`justify-content: flex-end`)
                                    p.control
                                      button.btn-detail.is-light.button Cari Alternatif

              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column
                                  figure.image.is-2by1
                                    img(src='/assets/img/tempat-wisata/hotel-mercure.jpg')
                                .column
                                  p.subtitle.title-card Hotel Mercure
                                  p Jalan Ir. H. Djuanda No. 176 Dago Kec. Coblong
                                  p
                                    i.fas.fa-circle
                                    span(style=`margin-left:20px`) Checkin pukul 13.00 WIB
                                .column.txt-rght
                                  p mulai dari
                                  p.subtitle.title-card Rp 150.000,-
                                  .field.is-grouped(style=`justify-content: flex-end`)
                                    p.control
                                      button.btn-detail.is-light.button Cari Alternatif
                                    p.control
                                      button.btn-detail.is-light.button Pesan

              .has-text-right
                a.button.is-rounded(style=`margin-right:5px` href=`/detailtrip/edit/1`) Tambahkan objek wisata
