extends ../../layout

block content
  .ctn-header
    section.hero.brdr-rds20.city-background(style=`background-image:url(/assets/img/tempat-wisata/kawah-putih-opacity.jpg)`)
      .hero-body
        .container
          h1.title.title-card Bandung yang Menyenangkan
          h2.subtitle 3 Hari - Rp 2.500.000,-
          .columns
            .column.is-four-fifths
              p
                i.fas.fa-thumbs-up
                span.title-card(style=`margin-left:20px`) 421 like
                i.fas.fa-plane-departure(style=`margin-left:20px`)
                span.title-card(style=`margin-left:20px`) 1762x
            .column.txt-rght
              a.button.color-primary.color-text-primary.is-rounded(style=`margin-right:5px` href=`/detailtrip/edit/6`) Save

  .home-wrapper
    .columns
      .column
        .card.color-primary
          .card-content
            .media
              .media-content
                .txt-cntr.margin-btn
                  h2.subtitle.title-card.color-text-primary Timeline
                .columns(style=`margin:0 10`)
                  .column
                    button.btn-detail.is-light.is-fullwidth.button Day 1
                  .column
                    button.btn-detail.is-light.is-fullwidth.button Day 2
                  .column
                    button.btn-detail.is-light.is-fullwidth.button Day 3
                  .column
                    button.btn-detail.is-primary.is-fullwidth.button Day 4
                  .column.is-one-fifth
                    a.btn-detail.is-light.is-fullwidth.button(href=`/detailtrip/edit/2`) +
            .content
              .has-text-right
                button.button.is-rounded(id=`showModal`) Tambahkan objek wisata

  .modal(id=`modalTambahObjekWisata`)
    .modal-background
    .modal-card
      header.modal-card-head
        p.modal-card-title Modal title
      section.modal-card-body
        .field.has-addons
          p.control.is-expanded
            input.input#inputCari(placeholder='Cari....')
        div#isiCard
          p.subtitle Rekomendasi buat Kamu

          a(href=`#` id=`kawahPutihCard`)
            .card.is-light.margin-btn
              .card-content
                .media(style=`border:0px`)
                  .media-content
                    .columns
                      .column
                        figure.image.is-2by1
                          img(src='/assets/img/tempat-wisata/kawah-putih.jpg')
                      .column.txt-rght
                        p tiket masuk
                        p.subtitle.title-card Rp 0,-
                    .columns
                      .column
                        p.subtitle.title-card Kawah Putih
                        p Sugihmukti Kecamatan Pasirjambu Bandung

          a(href=`#` id=`gunungPadangCiwideyCard`)
            .card.is-light.margin-btn
              .card-content
                .media(style=`border:0px`)
                  .media-content
                    .columns
                      .column
                        figure.image.is-2by1
                          img(src='/assets/img/tempat-wisata/gunung-padang-ciwidey.jpg')
                      .column.txt-rght
                        p tiket masuk
                        p.subtitle.title-card Rp 0,-
                    .columns
                      .column
                        p.subtitle.title-card Gunung Padang Ciwidey
                        p Wangunsari, Sindangkerta, Kabupaten Bandung Barat
          p Lebih Banyak...

      footer.modal-card-foot
        button.button(id=`closeModal`) Cancel

  .modal(id=`modalInputWaktu`)
    .modal-background
    .modal-card
      header.modal-card-head
        p.modal-card-title Pilih waktu wisata
      section.modal-card-body
        p.subtitle Gedung Sate
          i.fas.fa-map-marker-alt(style=`margin-left:20px`)
          span(style=`margin-left:20px`) Jalan Diponegoro No.1 Bandung
        p Tiket Masuk Rp 0,-

        p(style=`margin-top:20px`) Durasi Perjalanan
        .field.has-addons
          p.control.is-expanded
            input.input(placeholder=`08.00`)
          p.control
            a.button.is-static1.is-white -
          p.control.is-expanded
            input.input(placeholder=`10.00`)


      footer.modal-card-foot
        a.button(href=`/detailtrip/edit/3`) Tambahkan
        button.button(id=`closeModal2`) Cancel

block scripts
  script(src='/assets/js/interactive-modal.js')

  script().
    $("#showModal").click(function() {
      $("#modalTambahObjekWisata").addClass("is-active")
    })

    $("#closeModal").click(function() {
      $("#modalTambahObjekWisata").removeClass("is-active")
    })


    $("#gedungSateCard").click(function() {
      $("#modalInputWaktu").addClass("is-active")
      $("#modalTambahObjekWisata").removeClass("is-active")
    })

    $("#closeModal2").click(function() {
      $("#modalInputWaktu").removeClass("is-active")
    })
