extends ../../layout

block content
  .ctn-header
    section.hero.brdr-rds20.city-background(style=`background-image:url(/assets/img/tempat-wisata/kawah-putih-opacity.jpg)`)
      .hero-body
        .container
          h1.title.title-card Bandung yang Menyenangkan
          h2.subtitle 3 Hari - Rp 2.500.000,-
          .columns
            .column.is-four-fifths
              p
                i.fas.fa-thumbs-up
                span.title-card(style=`margin-left:20px`) 421 like
                i.fas.fa-plane-departure(style=`margin-left:20px`)
                span.title-card(style=`margin-left:20px`) 1762x
            .column.txt-rght
              a.button.color-primary.color-text-primary.is-rounded(style=`margin-right:5px` href=`/detailtrip/edit/6`) Save

  .home-wrapper
    .columns
      .column
        .card.color-primary
          .card-content
            .media
              .media-content
                .txt-cntr.margin-btn
                  h2.subtitle.title-card.color-text-primary Timeline
                .columns(style=`margin:0 10`)
                  .column
                    button.btn-detail.is-light.is-fullwidth.button Day 1
                  .column
                    button.btn-detail.is-light.is-fullwidth.button Day 2
                  .column
                    button.btn-detail.is-light.is-fullwidth.button Day 3
                  .column
                    button.btn-detail.is-primary.is-fullwidth.button Day 4
                  .column.is-one-fifth
                    a.btn-detail.is-light.is-fullwidth.button(href=`/detailtrip/edit/2`) +
            .content
              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column
                                  figure.image.is-2by1
                                    img(src='/assets/img/tempat-wisata/bandung.jpg')
                                .column
                                  p.subtitle.title-card Gedung Sate
                                  p Jalan Diponegoro No.1 Bandung
                                  p
                                    i.fas.fa-circle
                                    span(style=`margin-left:20px`) 08.00 - 10.00 WIB
                                .column.txt-rght
                                  p tiket masuk
                                  p.subtitle.title-card Rp 0,-
                                  .field.is-grouped(style=`justify-content: flex-end`)
                                    p.control
                                      button.btn-detail.is-light.button Ganti
                                    p.control
                                      button.btn-detail.is-light.button Hapus

              button.button.is-fullwidth.is-rounded.margin-btn(id=`btnPesanTransportasi`) Pesan Transportasi

              .card.is-light.margin-btn
                .card-content
                  .media
                    .media-content
                      .card.is-danger
                        .card-content
                          .media(style=`border:0px`)
                            .media-content
                              .columns
                                .column
                                  figure.image.is-2by1
                                    img(src='/assets/img/tempat-wisata/stasiun-bandung.jpg')
                                .column
                                  p.subtitle.title-card Stasiun Bandung
                                  p Jl. Stasiun Barat, Kb. Jeruk, Kec. Andir, Kota Bandung
                                  p
                                    i.fas.fa-circle
                                    span(style=`margin-left:20px`) tiba pukul 11.00 WIB
                                .column.txt-rght
                                  .field.is-grouped(style=`justify-content: flex-end`)
                                    p.control
                                      button.btn-detail.is-light.button Ganti
                                    p.control
                                      button.btn-detail.is-light.button Hapus


              .has-text-right
                button.button.is-rounded(id=`showModal`) Tambahkan objek wisata

  .modal(id=`modalPesanTransportasi`)
    .modal-background
    .modal-card
      header.modal-card-head
        p.modal-card-title Pesan Transportasi
      section.modal-card-body
        p.subtitle(style=`margin-bottom:0px`) Gojek
          div(style=`margin-left:20px`)
            .radio
              label
                input(type="radio", name="pesanTransportasiRadios", value="goride",)
                | Go Ride
            .radio
              label
                input(type="radio", name="pesanTransportasiRadios", value="gocar",)
                | Go Car
        p.subtitle(style=`margin-bottom:0px`) Grab
          div(style=`margin:0px 0px 20px 20px`)
            .radio
              label
                input(type="radio", name="pesanTransportasiRadios", value="grabride",)
                | Grab Ride
            .radio
              label
                input(type="radio", name="pesanTransportasiRadios", value="grabcar",)
                | Grab Car

        p.subtitle(style=`margin-bottom:0px`) Estimasi Harga
        p.title-card#pEstimasiHarga Rp 0,-


      footer.modal-card-foot
        a.button(href=`/detailtrip/edit/5`) Tambahkan
        button.button(id=`closeModal`) Cancel

block scripts
  script().
    $("#btnPesanTransportasi").click(function() {
      $("#modalPesanTransportasi").addClass("is-active")
    })

    $("#closeModal").click(function() {
      $("#modalPesanTransportasi").removeClass("is-active")
    })

    $("input[name='pesanTransportasiRadios']").click(function() {
      transportasi = this.value;
      if (transportasi == 'goride') {
        $('#pEstimasiHarga').text('Rp 11.000,-')
      } else if (transportasi == 'gocar') {
        $('#pEstimasiHarga').text('Rp 24.000,-')
      } else if (transportasi == 'grabride') {
        $('#pEstimasiHarga').text('Rp 12.000,-')
      } else {
        $('#pEstimasiHarga').text('Rp 18.000,-')
      }
    })
